# Don't use quotes( " and ' )

APP_ID=
API_HASH=
BOT_TOKEN=
OWNER=

# [OPTIONAL]
# Uncomment (remove the '#') the below variables before adding their values

#FFMPEG=
#TEMP_USERS
#THUMBNAIL=
#CACHE_DL=
#ENCODER=
#LOG_CHANNEL=
#DBNAME=
#DATABASE_URL=
#CMD_SUFFIX=

# Number of pyrogram event workers; if you want to always queue videos as sent set to 1
#WORKERS=1

# list of links separated by commas to download on startup
#DL_STUFF=

# Channel id , message id, sticker id , Bool, codec name (and quality) for forward channel
#FCHANNEL=
#FCHANNEL_STAT=
#FSTICKER=
#FBANNER=
#FCODEC=

# Channel short link
#C_LINK=

# Emoji or other beautifier to be added before captions
#CAP_DECO=

# Enable logging to log channel // off by default set value to True to enable 
#LOGS_IN_CHANNEL=

# Release Name
#RELEASER=

# Enable dumping leeched animes to bot pm and log_channel if available // On by default set value to False to disable 
#DUMP_LEECH=

# Always deploy latest version of repo during startup // Off by default set to True to enable 
#ALWAYS_DEPLOY_LATEST=

# Lock encoding on startup
#LOCK_ON_STARTUP=

# Enable encoding chat action in bot // on by default…
#ALLOW_ACTION=

# if not added defaults to original repo
#UPSTREAM_REPO=
#UPSTREAM_BRANCH=

# Force timeout long downloads in seconds
#ARIA2_DL_TIMEOUT=
#QBIT_DL_TIMEOUT=

# Report failed processes
#REPORT_FAILED=   #change to False to allow the two variables below 
#REPORT_FAILED_DL=
#REPORT_FAILED_ENC= 

