aiohttp
anitopy
country_converter
python-decouple
psutil
tgcrypto
pyrogram==2.0.73
pymongo[srv]
qbittorrent-api
random_word
quote
https://github.com/New-dev0/Telethon/archive/Aurium.zip
html_telegraph_poster
