aiohttp
anitopy
apscheduler
aria2p
country_converter
emoji-country-flag
feedparser
html_telegraph_poster
humanize
lxml[html_clean]
telethon
tgcrypto
psutil
pycountry
pymediainfo
pymongo[srv]
pyrogram==2.0.106
#pyrogram==2.0.73
python-decouple
qbittorrent-api
quote
random_word
tzlocal
#Snyk pins 
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
